.hh div{
justify-content: center !important;
}
.hh button:hover{
    color: black !important;
}
.ha nav a:hover{
    color: black !important;
}

.sa img{
    width: 384px;
    height: 275px;
}


.bg{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210326/pngtree-ramadan-background-with-white-mosque-image_595534.jpg');
    background-repeat: no-repeat;
    background-size: cover    ;
}

/* App.css */
.quranic-text {
    font-family: 'Scheherazade', serif;
    font-size: 24px; /* Adjust size as needed */
    direction: rtl; /* Right-to-left direction for Arabic */
  }
  

  .amiri-quran-regular {
    font-family: "Amiri Quran", serif;
    font-weight: 400;
    font-style: normal;
  }


  .playfair{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

  .caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

