.hh div{
justify-content: center !important;
}
.hh button:hover{
    color: black !important;
}
.ha nav a:hover{
    color: black !important;
}

.sa img{
    width: 384px;
    height: 275px;
}


.bg{
    background-image: url('https://t3.ftcdn.net/jpg/07/43/14/40/360_F_743144079_BymKchowczuqp1vXNr8dweCEBUvetsMi.jpg');
    background-repeat: no-repeat;
    background-size: cover    ;
    background-position: center;
    background-attachment: fixed;

}
.BG{
    background-image: url('./assets/home/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover    ;
    background-position: center;
    background-attachment: fixed;

}

/* App.css */
.quranic-text {
    font-family: 'Scheherazade', serif;
    font-size: 24px; /* Adjust size as needed */
    direction: rtl; /* Right-to-left direction for Arabic */
  }
  

  .amiri-quran-regular {
    font-family: "Amiri Quran", serif;
    font-weight: 400;
    font-style: normal;
  }


  .playfair{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

  .caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
  }

  .geist {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 40;
    font-style: normal;
  }
